ClientApplication/Connected Services/SearchCarriers/AirCarriersSearchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SearchCarriers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchCarriersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchCarriersResult" type="tns:ArrayOfCarrier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCarrier">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Carrier" nillable="true" type="tns:Carrier" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Carrier">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iata" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchCarriersSoapIn">
    <wsdl:part name="parameters" element="tns:SearchCarriers" />
  </wsdl:message>
  <wsdl:message name="SearchCarriersSoapOut">
    <wsdl:part name="parameters" element="tns:SearchCarriersResponse" />
  </wsdl:message>
  <wsdl:portType name="AirCarriersSearchServiceSoap">
    <wsdl:operation name="SearchCarriers">
      <wsdl:input message="tns:SearchCarriersSoapIn" />
      <wsdl:output message="tns:SearchCarriersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AirCarriersSearchServiceSoap" type="tns:AirCarriersSearchServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchCarriers">
      <soap:operation soapAction="http://tempuri.org/SearchCarriers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AirCarriersSearchServiceSoap12" type="tns:AirCarriersSearchServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchCarriers">
      <soap12:operation soapAction="http://tempuri.org/SearchCarriers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AirCarriersSearchService">
    <wsdl:port name="AirCarriersSearchServiceSoap" binding="tns:AirCarriersSearchServiceSoap">
      <soap:address location="http://localhost:53257/AirCarriersSearchService.asmx" />
    </wsdl:port>
    <wsdl:port name="AirCarriersSearchServiceSoap12" binding="tns:AirCarriersSearchServiceSoap12">
      <soap12:address location="http://localhost:53257/AirCarriersSearchService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>